<aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="{{ .Site.BaseURL }}">
        <h1>{{ .Site.Title }}</h1>
      </a>
      <p class="lead">
        {{ .Site.Params.description }}
      </p>
    </div>

    <nav>
      <ul class="sidebar-nav">
        <li><a href="{{ .Site.BaseURL }}">首页</a> </li>
        {{ range .Site.Menus.main -}}
        <li><a href="{{.URL}}" target="_blank"> {{ .Name }} </a></li>
        {{- end }}
      </ul>
    </nav>

    <p>{{ with .Site.Params.copyright }}{{.}}{{ else }}&copy; {{ now.Format "2024"}}. All rights reserved. {{end}}</p>
  </div>
</aside>